body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: gainsboro;
}

#svg {
  margin: auto;
  background-color: white;
  max-width: 95vw;
  max-height: 95vh;
  width: auto;
  height: auto;
}
