body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
}

#svg-container {
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  display: grid;
  grid-template-columns: 1fr;
}

#svg {
  margin: auto;
  background-color: white;
  max-width: 95vw;
  max-height: 95vh;
  width: auto;
  height: auto;
}

#line-container {
  position:absolute;
  width:100vw;
  height:100vh;
}

#line {
  display: none;
  width: 1pt;
  background-color: grey;
  height: 100vh;
  margin: 0 auto;
}
